@font-face{
    font-family: Ubuntu;
    src: url(Ubuntu-L.ttf);
}
h2{
    margin-top: 5px;
}
body{
    font-family: Ubuntu;
    background: url("bg1.png");
    color: rgb(171, 171, 171);
}
#title{
    text-align: center;
}
li{
    padding: 5px;
    transition: 0.25s all;
}
#player2{
    position: relative;
    margin-left: 0;
    width: 75%;
    height: 90%;
    display: inline-block;
    border: 1px solid black;
}
#myytplayer{
    position: absolute;
    height: 100%;
    width: 100%;
}
#playlist{
    position: relative;
    margin-right: 0;
    width: 24%;
    height: 90%;
    display: inline-block;
    overflow-x: hidden;
    float: right;
}
#playlist ul{
    overflow-x: hidden;
    overflow-y: auto;
}
ul{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 30px;
    list-style: none;
    padding-left: 10px;
}
li:hover{
    transform: scale(1.05,1.05);
    cursor: pointer;
}
#playlist p{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 1px;
    
}
#pullup{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: #1a1a1a;
    color: white;
    border-top-left-radius: 10px;
    trasition: 0.25s all;
}
#pullup p{
    margin: 0;
}
#pullup:hover{
    cursor: pointer;
}
#pulled{
    margin: 0;
    padding: 0;
    trasition: 0.25s all;
}
#pulled p{
    margin-top: 10px;
}
#pulltitle{
    text-align: right;
    trasition: 0.25s all;
}
#pulled button{
    margin: 5px;
}
hr{
    margin-bottom: 5px;
    margin-top: 5px;
}